{% load static %}
<link rel="stylesheet" href="{% static 'css/style-login.css' %}">

        <div class="wrapper" >

            <form  method="post" action="{% url 'Login' %}" >

                <h1 class="h1">ورود</h1>

                <div class="input-box1" >

                    {% csrf_token %}

                    <input type="text" placeholder="    نام کاربری"  name="username" class="form-control">

                    <image src="{% static  'assets/UserLogin.png' %}" class="icon" ></image>

                    <br>
                    <br>

                    <input type="password" placeholder="    گذرواژه" name="password" class="form-control" >

                    <image src="{% static  'assets/lock.png' %}" class="icon" style="margin-top: 68px" ></image>

                </div>
                                    <br><br><br><br><br>

                <div class="remember-forget" >


                    <a href="{% url 'resetPassword' %}">گذرواژه خود را فرموش کرده اید؟</a>

                    <label ><input type="checkbox" >مرا به خاطر بسپار</label>

                </div>

                <button type="submit" class="btn"  >ورود</button>

                <div class="register-link"><p>حساب کاربری ندارید؟  <a href="{% url 'signup' %}">ثبت نام </a></p></div>

            </form>

        </div>

